
@media(max-width:1200px){
    .d1 .d2 .d3{
        margin-left: 10px;
    }
    /*header start*/
    header{
        width: 100%;
    }
    header .logo{
        width: 25%;
    }
    header .nav1{
        width: 65%;
    }
    header .nav2 #svg1{
        margin-left: 50px;
    }

    /* header over */

    .main1{
        width: 100%;
    }
    .main2{
        width: 100%;
    }
    .main2 .s2{
        width: 100%;
    }
    .main2 .s2 .s3{
        margin-left: 50px;
    }
    .main3{
        width: 100%;
    } 
    .main3 .s9{
        margin-left: 100px;
        width: 70%;
    }
    .main4{
        width: 100%;
    }
    .main4 .s10{
        width: 50%;
    }
    .main4 .s10 .glass{
        position: absolute;
        top: 2750px;
    }
    
    .main4 .s11{
        width: 50%;
    }
    
    .main4 .s11 .s14{
        margin-left: 50px;
    }
    .main5{
        height: 550px;
        width: 1270px;
    }
    .main6{
        width: 100%;
    }
    .section2{
        width: 100%;
    }
    .main6 p{
        margin-left: 310px;
    } 
    .main6 .b1{
        margin-left: 60px;
    }
    
    .main6 .b4{
        margin-left: 670px;
    }

    .h1{
        text-align: center;
    }

    .section3{
        width: 100%;
    }
    .section3 .s19{
        width: 300px;
    }
    .section3 .s19 .s20{
        width: 300px;
        background-size: 100% 100%;
    }
    .section3 .s19 .s22{
        width: 300px;
        background-size: 100% 100%;
    }
    .section3 .s19 .s23{
        width: 300px;
        background-size: 100% 100%;
    }
    .section3 .s19 .s24{
        width: 300px;
        background-size: 100% 100%;
    }
    .section4 .s19 .s25{
        width: 300px;
        background-size: 100% 100%;
    }
    
    .section4 .s19 .s26{
        width: 300px;
        background-size: 100% 100%;
    }
    .section4 .s19 .s27{
        width: 300px;
        background-size: 100% 100%;
    }
    .section4 .s19 .s28{
        width: 300px;
        background-size: 100% 100%;
    }

    .main7{
        width: 100%;
    }
    .section4{
        width: 100%;
    }
    .main7 .img1{
        height: 200px;
        margin-left: -115px;
        position: relative;
        top: -120px;
    }
    .main7 .img2{
        height: 250px;
        position: relative;
        margin-left: 180px;
    }
    .section6{
        margin-left: 100px;
    }
    .main8{
        width: 100%;
    }
    .section7{
        width: 100%;
    }
    .section7 .s33{
        height: 330px;
        width: 200px;
        margin-inline: 20px;
    }
    .section7 .s34{
        height: 230px;
        width: 200px;
    }
    .section7 .s35 h3{
        margin-top: 10px;
    }
    .main9{
        width: 100%;
    }
    .s36{
        width: 100%;
    }
    .s37{
        width: 100%;
    }
    .main10{
        width: 108%;
    }
    .main11{
        width: 100%;
    }
    .main11 .section8{
        width: 100%;
    }
    /* footer start */
    footer{
        width: 100%;
    }
    footer .f1{
        margin-left: 100px;
    }
    
    footer .f3{
        margin-left: 100px;
    }
    footer .f8{
        margin-left: 100px;
    }
    footer .f8 a{
        margin-left: 0px;
    }
    
    footer .f8 #svg1{
        margin-left: 530px;
    }
    /* footer over */
}


@media(max-width:720px){
    /* header start */
    header{
        width: 720px;
    }
    header .nav1{
        display: none;
    }
    header .logo{
        width: 60%;
    }
    header .logo #i2{
        display: block;
    }
    header .logo img{
        margin-left: 330px;
        margin-top: -55px;
    }
    header .nav2{
        width: 40%;
    }
    header .nav2 #svg1{
        margin-left: 90px;
    }
    /* header over */
    .main1{
        width: 100%;
    }
    
    .main2{
        width: 100%;
    }
    .main2 .s2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .main2 .s2 .s3{
        width: 100%;
    }
    .main2 .s2 .s4{
        width: 100%;
        margin-left: 160px;
    }
    .main2 .s2 .s5{
        width: 100%;
    }
    .main2 .s2 .s3 .s7 .i1{
        position: relative;
        left: -30px;
        top: -90px;
    }
    
    .main2 .s2 .s3 .s7 .i2{
        position: relative;
        left: -30px;
        top: -90px;
    }
    
    .main2 .s2 .s3 .s7 .i3{
        position: relative;
        left: -30px;
        top: -100px;
    }
    .main2 .s2 .s3 .s7 h3{
        text-align: left;
        margin-left: 50px;
    }
    .main2 .s2 .s3 .s7 p{
        margin-left: 50px;
        text-align: left;
        width: 600px;
    }


    
    .main2 .s2 .s5 .s8 .i1{
        position: relative;
        left: 20px;
        top: -90px;
    }
    
    .main2 .s2 .s5 .s8 .i2{
        position: relative;
        left: 20px;
        top: -90px;
    }
    
    .main2 .s2 .s5 .s8 .i3{
        position: relative;
        left: 20px;
        top: -100px;
    }
    .main2 .s2 .s5 .s8 h3{
        text-align: left;
        margin-left: 100px;
    }
    .main2 .s2 .s5 .s8 p{
        margin-left: 100px;
        text-align: left;
        width: 600px;
    }
    .main3{
        width: 100%;
        margin-top: 1050px;
    } 
    .main3 .s9{
        margin-left: 50px;
        width: 90%;
    }
    .main3 .s9 h1{
        text-align: center;
    }
    .main3 .s9 p{
        text-align: center;
    }
    .main3 .s9 img{
        margin-left: 230px;
    }
    .main3 .s9 a{
        margin-left: 250px;
    }
    
    .main4{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .main4 .s10{
        width: 100%;
    }
    .main4 .s10 .glass{
        width: 100%;
        position: absolute;
        top: 3900px;
        left: 350px;
    }
    
    .main4 .s11{
        width: 100%;
        height: 750px;
        background-image: url(https://yummi-theme.myshopify.com/cdn/shop/files/bg-img-1_1.png?v=1614334735&width=1920);
        background-size: 100% 100%;
    }
    .main4 .s11 .s14{
        margin-left: 15px;
        height: 600px;
        width: 680px;
    }
    .main4 .s11 .s14 .s15{
        height: 140px;
        width: 680px;
    }
    .main4 .s11 .s14 .s15 p{
        width: 600px;
    }
    .main5{
        width: 790px;
        margin-top: 800px;
    }
    
    .main5{
        height: 550px;
        width: 790px;
    }
    .main6{
        height: 1000px;
        width: 100%;
    }
    .section2{
        width: 100%;
    }
    .main6 p{
        margin-left: 70px;
    } 
    .main6 .b1{
        margin-left: 15px;
    }
    
    .main6 .b4{
        margin-left: 270px;
        display: none;
    }
    
    .main6 .b5{
        display: none;
    }
    .main6 .section2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main6 .section2 .s16{
        width: 330px;
    }
    .main6 .section2 #s20{
        display: none;
    }
    .main6 .section2 #s21{
        display: none;
    }
    .main6 .section2 #s22{
        display: none;
    }
    .main6 .section2 #s23{
        display: none;
    }

    
    .section3{
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section3 .s19{
        width: 720px;
    }
    .section3 .s19 .s20{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    .section3 .s19 .s22{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    .section3 .s19 .s23{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    .section3 .s19 .s24{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    
    .section4{
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section4 .s19{
        width: 720px;
    }
    .section4 .s19 .s25{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    
    .section4 .s19 .s26{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    .section4 .s19 .s27{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    .section4 .s19 .s28{
        width: 720px;
        background-size: cover;
        background-position: center;
    }
    
    .main7{
        width: 720px;
        margin-top: 1200px;
    }
    .section6{
        width: 700px;
    }
    .main7 .img1{
        height: 200px;
        margin-left: -590px;
        position: relative;
        top: -50px;
        z-index: -5;
    }
    .main7 .img2{
        height: 250px;
        position: relative;
        margin-left: 500px;
    }
    .section6{
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .section6 .s29{
        width: 100%;
    }
    .section6 .s29 .s31 p{
        width: 600px;
    }
    .section6 .s29 .s31 h3 b{
        display: none;
    }
    .section6 .s30{
        width: 100%;
    }
    
    .section6 .s30 .s31 p{
        width: 600px;
    }
    .section6 .s30 .s31 h3 b{
        display: none;
    }
    .main8{
        height: 4000px;
        width: 720px;
        margin-top: 500px;
    }
    .main8 .section7{
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
    }
    .main8 .section7 .s33{
        height: 650px;
        width: 720px;
        margin-left: 0px;
    }
    .main8 .section7 .s33 .s34{
        height: 500px;
        width: 720px;
    }
    .main8 .section7 .s33 .s34 img{
        height: 500px;
        width: 720px;
    }
    .main8 .section7 .s35{
        height: 150px;
        width: 720px;
    }
    
    .main9{
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main9 .s36{
        width: 350px;
    }
    .main9 .s37{
        width: 100%;
    }
    .main10{
        margin-top: 300px;
        width: 810px;
    }
    .main10 .s38{
        margin-left: 100px;
    }
    .main11{
        width: 720px;
    }
    .main11 .section8{
        width: 700px;
    }
    .main11 .section8 .s39{
        width: 25%;
    }
    .main11 .section8 #s38{
        margin-left: 100px;
    }
    .main11 .section8 #s39{
        display: none;
    }
    
    /* footer start */
    footer{
        height: 1510px;
        width: 720px;
    }
    footer .f1{
        width: 700px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    footer .f1 .f2{
        width: 700px;
        font-size: 20px;
    }
    footer .f3{
        margin-left: 50px;
        margin-top: 750px;
        display: flex;
        flex-wrap: wrap;
        width: 650px;
    }
    footer .f4{
        margin-left: 200px;
        width: 400px;
    }
    footer .f8{
        margin-left: 50px;
        margin-top: 150px;
        width: 670px;
    }
    footer .f8 a{
        margin-left: 0px;
    }
    
    footer .f8 #svg1{
        margin-left: 130px;
    }
    /* footer over */
}


@media(max-width:480px){
    /* header start */
    .logo{
        width: 100%;
    }
    header{
        width: 480px;
    }
    header .nav1{
        display: none;
    }
    header .logo{
        width: 60%;
    }
    header .logo #i2{
        display: block;
    }
    header .logo img{
        margin-left: 210px;
        margin-top: -55px;
    }
    header .nav2{
        width: 40%;
    }
    header .nav2 #svg1{
        display: none;
    }
    header .nav2 #svg2{
        margin-left: 50px;
    }
    /* header over */
    .main1{
        width: 480px;
    }
    .main1 .s1{
        width: 400px;
    }
    .main1 .s1 h1{
        font-size: 45px;
    }
    
    .main1 .s1 h2{
        font-size: 35px;
    }    
    .main2{
        width: 100%;
    }
    .main2 .s2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .main2 .s2 .s3{
        width: 100%;
    }
    .main2 .s2 .s4{
        width: 100%;
        margin-left: 0px;
    }
    .main2 .s2 .s4 .s6{
        width: 460px;
        margin-left: 10px;
    }
    .main2 .s2 .s4 .s6 img{
        width: 300px;
        margin-left: 70px;
    }
    .main2 .s2 .s5{
        width: 100%;
    }
    .main2 .s2 .s3 .s7 .i1{
        position: relative;
        left: -40px;
        top: -115px;
    }
    
    .main2 .s2 .s3 .s7 .i2{
        position: relative;
        left: -40px;
        top: -115px;
    }
    
    .main2 .s2 .s3 .s7 .i3{
        position: relative;
        left: -40px;
        top: -125px;
    }
    .main2 .s2 .s3 .s7 h3{
        text-align: left;
        margin-left: 35px;
    }
    .main2 .s2 .s3 .s7 p{
        margin-left: 35px;
        text-align: left;
        width: 370px;
    }


    
    .main2 .s2 .s5 .s8 .i1{
        position: relative;
        left: 20px;
        top: -90px;
    }
    
    .main2 .s2 .s5 .s8 .i2{
        position: relative;
        left: 20px;
        top: -90px;
    }
    
    .main2 .s2 .s5 .s8 .i3{
        position: relative;
        left: 20px;
        top: -100px;
    }
    .main2 .s2 .s5 .s8 h3{
        text-align: left;
        margin-left: 100px;
    }
    .main2 .s2 .s5 .s8 p{
        margin-left: 100px;
        text-align: left;
        width: 370px;
    }
    
    .main3{
        width: 480px;
        margin-top: 1050px;
        height: 750px;
    } 
    .main3 .s9{
        margin-left: 30px;
        width: 90%;
        margin-top: 100px;
    }
    .main3 .s9 img{
        margin-left: 135px;
    }
    .main3 .s9 a{
        margin-left: 155px;
    }
    
    .main4{
        width: 480px;
        display: flex;
        flex-wrap: wrap;
    }
    .main4 .s10{
        width: 480px;
    }
    
    .main4 .s11{
        width: 480px;
        height: 550px;
        background-image: url(https://yummi-theme.myshopify.com/cdn/shop/files/bg-img-1_1.png?v=1614334735&width=1920);
        background-size: 100% 100%;
    }
    .main4 .s10{
        width: 100%;
    }
    .main4 .s10 .glass{
        width: 100%;
        position: absolute;
        top: 3950px;
        left: 200px;
    }
    .main4 .s11 .s14{
        margin-left: 0px;
        height: 600px;
        width: 480px;
    }
    .main4 .s11 .s14 .s15{
        height: 140px;
        width: 480px;
    }
    .main4 .s11 .s14 .s15 p{
        width: 400px;
    }
    .main5{
        height: 450px;
        width: 550px;
    }
    .main5 .section1{
        height: 300px;
        width: 480px;
        margin-top: 60px;
    }
    .main5 .section1 h1{
        font-size: 45px;
    }
    
    .main6{
        width: 100%;
    }
    .section2{
        width: 100%;
    }
    .main6{
        height: 1550px;
        width: 100%;
    }
    .section2{
        width: 100%;
    }
    .main6 p{
        width: 450px;
        margin-left: 15px;
    } 
    .main6 .b1{
        margin-left: 80px;
    }
    
    .main6 .b4{
        margin-left: 270px;
        display: none;
    }
    
    .main6 .b5{
        display: none;
    }
    .main6 .section2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main6 .section2 .s16{
        width: 450px;
        margin-left: 15px;
    }
    .main6 .section2 .s16 .s18{
        width: 100%;
    }
    .main6 .section2 .s16 .s18 #a3{
        width: 450px;
        margin-left: -220px;
    }
    .mian6 .section2 #s16{
        margin-top: 50px;
        display: none;
    }
    .main6 .section2 #s20{
        display: none;
    }
    .main6 .section2 #s21{
        display: none;
    }
    .main6 .section2 #s22{
        display: none;
    }
    .main6 .section2 #s23{
        display: none;
    }
    .section3{
        width: 480px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section3 .s19{
        width: 480px;
    }
    .section3 .s19 .s20{
        width: 480px;
        background-size: cover;
        background-position: center;
    }
    .section3 .s19 .s22{
        width: 480px;
        background-size: cover;
        background-position: center;
    }
    .section3 .s19 .s23{
        width: 480px;
        background-size: cover;
        background-position: center;
    }
    .section3 .s19 .s24{
        width: 480px;
        background-size: cover;
        background-position: center;
    }
    
    .section4{
        width: 480px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section4 .s19{
        width: 480px;
    }
    .section4 .s19 .s25{
        width: 480px;
        background-size: cover;
        background-position: center;
    }
    
    .section4 .s19 .s26{
        width: 480px;
        background-size: cover;
        background-position: center;
    }
    .section4 .s19 .s27{
        width: 480px;
        background-size: cover;
        background-position: center;
    }
    .section4 .s19 .s28{
        width: 480px;
        background-size: cover;
        background-position: center;
    }

    
    .main7{
        width: 480px;
        margin-top: 1200px;
    }
    .section6{
        width: 460px;
    }
    .main7 .img1{
        height: 200px;
        margin-left: -830px;
        position: relative;
        top: -45px;
        z-index: -5;
    }
    .main7 .img2{
        height: 250px;
        position: relative;
        margin-left: 500px;
    }
    .section6{
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .section6 .s29{
        width: 100%;
    }
    .section6 .s29 .s31 p{
        width: 350px;
    }
    .section6 .s29 .s31 h3 b{
        display: none;
    }
    .section6 .s30{
        width: 100%;
    }
    
    .section6 .s29 .s31 img{
        height: 50px;
    }
    .section6 .s30 .s31 img{
        height: 50px;
    }
    .section6 .s30 .s31 p{
        width: 350px;
    }
    .section6 .s30 .s31 h3 b{
        display: none;
    }
    .section6 .s29 .s31 h3{
        margin-top: -70px;
    }
    .section6 .s30 .s31 h3{
        margin-top: -70px;
    }

    .main8{
        height: 4000px;
        width: 480px;
        margin-top: 500px;
    }
    .main8 .section7{
        width: 480px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
    }
    .main8 .section7 .s33{
        height: 650px;
        width: 480px;
        margin-left: 0px;
    }
    .main8 .section7 .s33 .s34{
        height: 500px;
        width: 480px;
    }
    .main8 .section7 .s33 .s34 img{
        height: 500px;
        width: 480px;
    }
    .main8 .section7 .s35{
        height: 150px;
        width: 480px;
    }
    .main9{
        width: 480px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main9 .s36{
        width: 480px;
    }
    .main9 .s37{
        width: 480px;
    }
    .main10{
        width: 580px;
        margin-top: 900px;
    }
    .main10 .s38{
        width: 470px;
    }
    .main10 .s38 input{
        width: 450px;
    }
    .main10 .s38 button{
        margin-top: 15px;
    }
    
    .main11{
        width: 480px;
    }
    .main11 .section8{
        width: 460px;
    }
    .main11 .section8 .s39{
        width: 25%;
    }
    .main11 .section8 #s38{
        margin-left: 120px;
        width: 50%;
    }
    .main11 .section8 #s39{
        display: none;
    }
    
    .main11 .section8 #s40{
        display: none;
    }

    
    /* footer start */
    footer{
        height: 1510px;
        width: 480px;
    }
    footer .f1{
        width: 460px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    footer .f1 .f2{
        width: 460px;
        font-size: 20px;
    }
    footer .f3{
        margin-left: 0px;
        margin-top: 750px;
        display: flex;
        flex-wrap: wrap;
        width: 470px;
    }
    footer .f4{
        margin-left: 100px;
        width: 200px;
    }
    
    footer .f5{
        margin-left: -400px;
        width: 50px;
        margin-top: 150px;
    }
    footer .f8{
        margin-left: 0px;
        margin-top: 150px;
        width: 470px;
    }
    footer .f8 a{
        margin-left: 0px;
    }
    
    footer .f8 #svg1{
        margin-left: 20px;
    }
    /* footer over */
}
